.b{
  background-color: #EA9D7B;
}

.l{
height: 20vh;
width: 50vw;
margin-top: 0vh;
margin-right: 40vw;
position: absolute;
}

.bds{
  height: 20vh;
  width: 20vw;
  margin-top: 3vh;
  margin-left: 70vw;
  position: absolute;
}

.ladinho{
  margin-left: 20vw;
}